@model IEnumerable<ToDoList.Data.Note>

@{
    Layout = null;
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="@(item.Completed ? "strikeout" : "")">
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                <a href="http://tfs-app:8080/tfs/TeamCollection/PFG%20Backlog/_workitems#_a=edit&id=@item.Reference" target="_blank">@item.Reference</a>
            </td>
            <td>
                @Html.ActionLink(item.Name, "Edit", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Complete", "ToggleComplete", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
